<launch>
   <arg name="open_rviz" default="true"/>
   <group ns="vive">
      <node pkg="vive_tracker" name="vive_world" type="vive_world.py" output="screen"/>
      <node pkg="vive_tracker" name="vive_tracker" type="vive_tracker.py" output="screen"/>
   </group>

  <!-- rviz -->
  <group if="$(arg open_rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find vive_tracker)/launch/rviz.rviz" />
  </group>
</launch>

